body {
    margin: 0;
    font-family: Arial, Helvetica,sans-serif;
    background-color: #f28b88;
  }
  .button {
    background-color: #7e2399;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .top-container {
    background-color:white;
    padding: 5px;
    font-family: Cavolini;
    color: #f1f1f1;
    text-align: center;
  }
  .header {
    padding: 10px 10px;
    background: #FFFFFF;
    color:lightblue; 
    list-style:none;
    text-align:center;
    font-family: storybook;
    font-color : white;
  }
  div.gallery{
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 320px;
  }
  div.gallery:hover {
      border: 1px solid #777;
  }
  div.gallery img{
      width:100%;
      height:auto;
  }
  div.desc {
      padding: 15px;
      text-align: center;
  }
  .navbar {
    overflow: hidden;
    background-color: #e65c57;
    /*position: fixed;*/
    top:30;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  h1 {
      font-family: 'lucida handwriting';
      text-align:center;
  }
  h3{
      text-align:center;
      font-family: pommel;
      text-align:center;
  }
  
  .content{
      padding: 16px;
      
  }
  .menu ul{
    display: inline-flex;
    color:#edb7db;
    margin:30px;
    font-size: 40px;
   
  }
  .menu ul li{
    list-style:none;
    margin:0 20px;
    color#edb7db
    cursor: pointer;
  }
  pages img{
      float: left;
      border-radius: 40px;
      transition: transform .2s;
  }
  
  ul {
    font-family: monospace;
  }
  
li {
  list-style: circle;
}

.list {
  list-style: square;
}


